@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전체 앱 기본 스타일 */
#app {
  font-weight: normal;
}

/* 링크나 강조 텍스트 색상 */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* 링크 hover 시 배경 색상 */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
